{% extends 'base.html' %}
{% load custom_filters custom_tags static %}

{% block extra_header %}
    <title>My Django site!</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.errors }}
        <table>
            {{ form }}
            <tr>
                <td>
                    <button type="submit">Create</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}