{% extends 'base.html' %}
{% load custom_filters custom_tags static %}

{% block extra_header %}
    <title>My Django site!</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
{#    <div class="row">#}
{#    {% if some_data %}#}
{#        <h1>{{ some_data }}</h1>#}
{#    {% else %}#}
{#        <h1>There is no data!</h1>#}
{#    {% endif %}#}
{##}
{#    <ul>#}
{#    {% with some=list_data.1 %}#}
{#        {% for name in list_data %}#}
{#            <li style="list-style: none">{{ forloop.last }}. {{ name|floatformat:2 }}</li>#}
{#        {% empty %}#}
{#            <h1>No data!</h1>#}
{#        {% endfor %}#}
{#    {% endwith %}#}
{#    </ul>#}
{##}
{#    {{ html_data|safe }}#}
{#    </div>#}
{#    <div class="col-12">#}
{#        {% lorem %}#}
{#    </div>#}
{##}
{#    {% verbatim %}#}
{#    <div class="col-12">#}
{#        {% lorem %}#}
{#    </div>#}
{#    {% endverbatim %}#}
{##}
{#    <h1>{{ 5|mutiply:5 }}</h1>#}
{#    <h1>{% discr 2 2 2 %}</h1>#}
{##}
{#    {% user_list %}#}

{#    {% include 'html_lesson.html' %}#}
{#    <h1>{{ all_run }}</h1>#}
{#    <ul>#}
{#    {% for product in products %}#}
{#        <li>#}
{#            {{ product.number_plate }} - {{ product.brand.name }} - {{ product.tags.all }}#}
{#        </li>#}
{#    {% endfor %}#}
{#    </ul>#}

{#    <ul>#}
{#        {% for brand in brands %}#}
{#        <li>#}
{#            {{ brand.name }} - Avg run {{ brand.avg_run|floatformat:0 }} - Products Count: {{ brand.product_count }}#}
{#        </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    <form method="post">{% csrf_token %}#}
{#        {{ form.errors }}#}
{#        <table>#}
{#            <tr>#}
{#                <td>{{ form.brand.label }}</td>#}
{#                <td>#}
{#                    {{ form.brand.errors }}#}
{#                    {{ form.brand }}#}
{#                </td>#}
{#                <td>{{ form.description.label }}</td>#}
{#                <td>{{ form.description }}</td>#}
{#            </tr>#}
{#            {{ form }}#}
{#            <tr>#}
{#                <td>#}
{#                    <button type="submit">Create</button>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
{#    </form>#}

    <div class="content">
        <div class="row">
            <div class="col-6">
                <form method="post">{% csrf_token %}
                    {{ form.errors }}
                    <table>
                        {{ form }}
                        <tr>
                            <td>
                                <button type="submit">Create</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-6">
                <ul>
                    {% for product in products %}
                    <li>
                        <a href="{% url 'product_detail' product.id %}"><b>{{ product.brand }}</b>: {{ product.number_plate }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}