{% extends 'base.html' %}
{% load custom_filters custom_tags static %}

{% block extra_header %}
    <title>My Django site!</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
    <table class="table">
        <tr>
            <td>Brand</td>
            <td>{{ product.brand }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <td>Condition</td>
            <td>{{ product.get_condition_display }}</td>
        </tr>
        <tr>
            <td>Run km</td>
            <td>{{ product.run_km }}</td>
        </tr>
    </table>
    <table>
        {{ product_form }}
    </table>
{% endblock %}